.checkbox {
  margin: 20px auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;

  width: 85%;
}

.checkbox-input {
  margin-left: 20px;
}

@media only screen and (max-width: 800px) {
  .checkbox {
    flex-direction: column;
    justify-content: center;
  }
  .checkbox-input {
    margin: auto;
  }
}
