.data-input {
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.data-text {
  width: 200px;
  height: auto;
  text-align: right;
}

.data-title > h3 {
  margin: auto;
}

.data-text > p {
  margin: auto;
}

.data-symbol > h3 {
  width: 20px;
  margin: 2px 10px;
}

.data-input__input {
  margin: 2px 10px;
}

@media only screen and (max-width: 800px) {
  .data-input {
    flex-direction: column;
    justify-content: center;
  }
  .data-text {
    margin: auto;
    text-align: center;
  }

  .data-symbol > h3 {
    margin: 10px auto;
  }
}
